PORT=5001
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/auth-db
JWT_SECRET=replace_with_strong_secret
JWT_ACCESS_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_DAYS=30
INTERNAL_SERVICE_KEY=replace_with_shared_internal_key
PATIENT_SERVICE_URL=http://localhost:5002

